@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1752053157689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lingdang-xianxing:before {
  content: "\e8c0";
  font-size: 22px;
  font-weight: bold;
}

.icon-sousuo_sousuo:before {
  color:rgb(192, 196, 207);;
  content: "\e61b";
  font-size: 19px;
}

.icon-chazhong:before {
  content: "\e722";
  font-size: 19px;
}

.icon-renwubiao:before {
  content: "\e607";
  font-size: 19px;
}

